<div class="container">

        <div class="row gy-4">
          {% for blog in blogs %}
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="/media/{{ blog.blog_image }}" alt="" class="img-fluid">
              </div>

              <p class="post-category">{{ blog.category }}</p>

              <h2 class="title">
                <a href="/details/{{blog.id}}/">{{ blog.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="/media/{{ blog.auther_image }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ blog.auther_name }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ blog.date_published }}</time>
                  </p>
                </div>
                <div class="m-4 p-4">
                    <a href="/update-blog/{{blog.id}}/">Edit</a>
                    <a href="/delete-blog/{{blog.id}}/">Delete</a>

                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div><!-- End recent posts list -->

      </div>